<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 

<body>

    <%- include("partials/header") %> 

    
    <div class="container-fluid categorias">
        <div class="column col-12 col-md-2 col-lg-2  filtro">
            <nav class="navbar-expand-md">
            
                <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                
                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                
                    <ul>
                        <h4><%= categoria.title %></h4>

                        <% categoria.subcategories.forEach(subcategoria => {%>
                            
                                <li><a href=""><%= subcategoria.title %> </a></li>
                       
                        <% }) %> 
                    </ul>
                    
                    <ul>
                        <h4>Marcas</h4>

                    </ul>
                </div>
            </nav>
        </div>
        <div class="container col-10">

            
            <section>
                
                
                <div class="productos">
    
                    <div class="subcategorias row col-12">
                        <% productos.forEach(producto => {%>
                        <div class="contenido">
    
                            <figure>
                                <a href="./productDetail.html"><img src="/images/products/<%= producto.image %> " alt=" "></a>
                            </figure>
    
                            <article>
                                <h2><%= producto.price %> </h2>
                                <span><%= producto.discount %> </span>
                                <p><%= producto.name %> </p>
                                <i class="fas fa-truck "></i>
                            </article>
    
                            
                        </div>
                        <% }) %>
                    </div>
                </div>
                 
    
            </section>
    
            
    
        </div>
    </div>

    <%- include("partials/footer") %> 


    
</body>

</html>