<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 

<body>


    <%- include('partials/header') %> 
    
    <div class="container-fluid categorias">
        <div class="column col-12 col-md-2 col-lg-2  filtro">
            <nav class="navbar-expand-md">
            
                <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                
                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                
                    <ul>
                        <h4><%= nombre%></h4>

                        
                            <% subtitulo.forEach(subtitulos => { %>
                            <li><a href=""><%= subtitulos.name_path %> </a></li>
                            <% }) %>
                        
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container col-10">

            
            <section>
                
                <div class="productos">
                    <div class="banner">
                        <img src="/images/categories/<%= imagen %> " alt="" class="img-fluid">
                    </div>
                    <div class="subcategorias row col-12">
                        <!--<div class="col-12 col-md-6 col-lg-4">-->
    
                            <% subtitulo.forEach(imagenes => { %>
                            <div class="contenidos">
        
                                <figure>
                                    <a href=""><img src="/images/categories/<%= imagenes.image %> " alt=" "></a>
                                </figure>
                                <ul> 
                                    <li><a href=""><h5><%= imagenes.name_path %></h5> </a></li>
                                    <li><a href="">Ver más</a></li>
                                </ul>
                            </div>
                            <% }) %>
                            
                        <!--</div>-->
                        
                        
                    </div>
                    
                </div>
    
            </section>
    
        </div>
    </div>

    <%- include('partials/footer') %> 

  
</body>

</html>