<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %> 

<body>


    <%- include('partials/header') %> 
    <%- include('partials/search') %>
    
    <div class="container-fluid categorias">
        <div class="filtro">
            <nav class="navbar-expand-md">
            
                <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                
                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                
                    <ul>
                        <h4><%= category.title %></h4>
                            <% category.subcategories.forEach(subcategory => { %>
                            <li><a href="/products/<%= category.namePath%>/<%= subcategory.name_path%> "><%= subcategory.title %> </a></li>
                            <% }) %>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="">

            
            <section>
                
                <div class="productos">
                    <div class="banner">
                        <img src="/images/categories/<%= category.image %> " alt="" class="img-fluid">
                    </div>
                    <div class="subcategorias row col-12">
                        <!--<div class="col-12 col-md-6 col-lg-4">-->
    
                            <% category.subcategories.forEach(subcategory => {%>
                            <div class="contenidos">
        
                                <figure>
                                    <a href="/products/<%= category.namePath %>/<%= subcategory.name_path %>"><img src="/images/categories/<%= subcategory.image %> " alt=" "></a>
                                </figure>
                                <ul> 
                                    <li><a href="/products/<%= category.namePath %>/<%= subcategory.name_path %>"><h5><%= subcategory.title %></h5> </a></li>
                                    <li><a href="/products/<%= category.namePath %>/<%= subcategory.name_path %>">Ver más</a></li>
                                </ul>
                            </div>
                            <% }) %>
                            
                        <!--</div>-->
                        
                        
                    </div>
                    
                </div>
    
            </section>
    
        </div>
    </div>

    <%- include('partials/footer') %> 

  
</body>

</html>