<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>

<body>


    <%- include('partials/header') %> 
  

    <div id="ofertas">
      <h1>¡Ofertas!</h1>
    </div>

  <div class="productosOfertas">
    
      <div class="ofertas row col-12">
        <% productos.forEach(producto=>{ %> 
          <div class="cajaproducto col-12 col-md-12 col-lg-2">
              <figure>
                  <a href="/products/detail/<%= producto.id%>"><img src="/images/products/<%= producto.image%>" alt=" "></a>
              </figure>
              <article>
                  <p><a href="/products/detail/<%= producto.id%>"><%= producto.name%></a> </p>
                  <h2><%= (producto.price -producto.price * producto.discount /100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h2>
                      
                  <% if (producto.discount!=0) { %>
                  <span> <strike>$<%= producto.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike><strong> // <%- producto.discount %> % OFF</strong></span>
                  <% } %>
              </article>
          </div>
          <% }) %>
      </div>

  </div>
    

    

    <%- include('partials/footer') %> 

    
</body>

</html>