<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %> 

<body>

   
  <%- include("partials/header") %>
  
    <div id="LoginFondo">
      <img src="/images/backgroundLogin.png" alt="">
    </div>

    <div id="contenedorForm">
      <div class="iconLogin"><span class="material-icons">account_circle</span></div>
      <div id="cuadroForm">
        
        <form class="w-100" id="loginForm" action="" method="POST">
          
          
          <div><h4>Iniciar sesión</h4></div>

            <div class="inputEmailLogin">
              <label for="email"></label>
              <input class="" type="email" id="email" name="email" placeholder="Email" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>"> <br>
              <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
              <div id="errorEmail"></div>
            </div>
          

          
            <div class="inputPasswordLogin">
              <label for="password"></label>
              <input class="" type="password" id="password" name="password" placeholder="Contraseña" value="<%= (typeof old != 'undefined' && old.password)?old.password:'' %>">
              <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>
              <div id="errorPassword"></div>
            </div>
          


          <div class="botonLogin">
            <button type="submit">Ingresar</button><br>
          </div>

        </form>
      </div>

      <div id="register">

        <div id="registerLink">

          <div class="links">
            <p>¿Todavía no tenes una cuenta?</p>
          </div>
          <div class="links">
            <a href="/users/register">Registrate ahora</a>
          </div>

        </div>

      </div>
    </div>

    <%- include("partials/footer") %> 
    <script src="/javascripts/inicioSesion.js"></script>
</body>

</html>