<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %> 

<body>

   
  <%- include("partials/header") %>

    <h1>Iniciar Sesión</h1>
    <div class="formulario">
        <form action="" method="POST">
            
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>"> <br>
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
      
            
            <label for="password">Contraseña: </label>
            <input type="password" id="password" name="password" value="<%= (typeof old != 'undefined' && old.password)?old.password:'' %>"> <br>
            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>
            
            
          <div class="recordar">
            <label><input type="checkbox" name="recordar">Recordar contraseña  </label>
          </div>

          <div class="boton container">
            <button type="submit">Ingresar</button><br>
          </div>
      
            <a href="/users/register">¿TodavÍa no tenes una cuenta? Registrate ahora</a>
   
        </form>
 </div>

    <%- include("partials/footer") %> 
</body>

</html>