<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %> 

<body>

    

    <%- include("partials/header") %> 
    <%- include('partials/search') %>

    <div id="productDetail">
        <div id="containerDetail">
            <div id="imageDetail">
                <img src="/images/products/<%= producto.image %>" alt="">
            </div>
            <div id="infoDetail">
                <h2><%= producto.name%></h2>
                <h1>$<%= (producto.price -producto.price * producto.discount /100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h1>
                <% if (producto.discount!=0) { %>
                    <span> <strike>$<%= producto.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike><strong> // <%- producto.discount %> % OFF</strong></span>
                <% } %>
                <div class="pagaEnCuotas">
                    <span class="material-icons">credit_card</span>
                    <p>Pagá en cuotas</p>
                </div>
                <a href="/mediosdepago"><p>Ver medios de pago</p></a>
                <div class="shipping">
                    <span class="material-icons">local_shipping</span>
                    <p>Recibilo en tu casa</p>
                </div>
                <div class="retiroSucursal">
                    <span class="material-icons">storefront</span>
                    <p>Retiralo en la sucursal</p>
                </div>
                <a href="#"><p>Ver en el mapa</p></a>
                <p>Stock disponible</p>
                <p><%= producto.stock%> unidades.</p>
                <button class="comprar">Comprar</button>
                <form action="/products/detail/<%= producto.id%>" method="POST">
                    <button type="submit" class="agregar">Agregar al carrito</button>
                </form>
            </div>
        </div>
    </div>
    <div id="productDescription">
        <div id="containerDescription">
            <div id="description">
                <h1>Descripción</h1>
                <p><%= producto.description%></p>
            </div>
            <div id="relacionados">
                <h1>Productos promocionados</h1>
                <% ofertas.forEach(producto => { %>
                <div class="productoRelacionado">
                    <a href="/products/detail/<%=producto.id%>"><img src="/images/products/<%= producto.image %>" alt=""></a>
                    <div class="infoRelacionado">
                        <h4>$<%= (producto.price -producto.price * producto.discount /100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h4>
                        <% if (producto.discount!=0) { %>
                            <span> <strike>$<%= producto.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike><strong> // <%- producto.discount %> % OFF</strong></span>
                        <% } %>
                        <p><a href=""><%= producto.name %></a></p>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    
    <%- include("partials/footer") %> 
</body>

</html>