<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %> 

<body>


    <%- include("partials/header") %> 
    <%- include('partials/search') %>

    <div id="contenedorCarrito">
        <div id="barCarrito">
            <img src="/images/users/<%=user.avatar%>" alt="">
            <p><%= user.name%></p>
        </div>
        <div id="infoCarrito">
            <div id="productosCarrito">
                <% productos.forEach(producto => { %>
                    <div class="articulosCarrito">
                        <figure>
                            <img src="/images/products/<%= producto.image%>" alt="">
                        </figure>
                        <%if (producto.name.length > 10) {%>
                            <p class="nombreProducto">
                                <%- producto.name.slice(0,30) + '...'%>
                            </p>
                        <%} else{ %>
                            <p class="nombreProducto">
                                <%- producto.name %>
                            </p>
                        <% } %>
                        <h4>$<%= producto.price%> </h4>
                        <form action="/users/add/cart/<%= producto.id%>?_method=DELETE" method="POST">
                            <button type="submit">
                                <span class="material-icons">delete</span>
                            </button>
                        </form>
                        
                    </div>
                <% }) %>
            </div>

            <div id="contenedorTotal">
                <div id="sumarioCarrito">
                    <h4>Sumario</h4>
                    <% total = 0; %>
                    <% productos.forEach(producto => { %>
                    <% total += producto.price %>
                    <% }) %>
                    <p>Total de la orden $<%= (total).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></p>
                    <p>Envio $0</p>
                </div>
                <div id="totalCarrito">
                    <% total = 0; %>
                    <% productos.forEach(producto => { %>
                    <% total += producto.price %>
                    <% }) %>
                    Total $<%= (total).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                </div>
                <div id="comprarCarrito">
                    <a href="#"><button>Comprar</button></a>
                </div>
            </div>
        </div>
        
    </div>

    <%- include("partials/footer") %> 
</body>

</html>