<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %> 

<body>

    <!--HEADER: CABECERA Y MENÚ DE NAVEGACIÓN-->

    <%- include("partials/header") %> 

    <!--SECCIONES: registrate-->

    <div class="container">

        <div class="row productos">

            <div class="title_register col-12">

                <h3>Registro de Usuario</h3>
    
            </div>
            <div class="col-12">
                <figure class="cont_logo">
                    <img src="/images/logomarovik2.svg" alt="">
                </figure>
            </div>

            <div class="col-12 cont_form">

                <form class="formulario_register" action="" method="POST" enctype="multipart/form-data">

                    <div class="form-row">

                        <div class="form-group col-12 col-md-6">
                          <label for="name"></label>
                          <input type="text"
                          class="form-control <%= (typeof old != 'undefined' && old.name)?"is-valid":(typeof errors != 'undefined' && errors.name)?"is-invalid": ""  %>" 
                          id="name" name="name"  value="<%= (typeof old != 'undefined' && old.name)?old.name:'' %>" placeholder="Nombre"/>
                          <small class="text-danger"><%= (typeof errors != 'undefined' && errors.name)?errors.name.msg: "" %> </small>
                          <div id="errorName"></div>
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="lastName"></label>
                            <input type="text"
                            class="form-control <%= (typeof old != 'undefined' && old.lastName)?"is-valid":(typeof errors != 'undefined' && errors.lastName)?"is-invalid": ""  %>"
                            id="lastName" value="<%= (typeof old != 'undefined' && old.lastName)?old.lastName:'' %>" placeholder="Apellido" name="lastName"/>
                            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.lastName)?errors.lastName.msg: "" %> </small>
                            <div id="errorLastName"></div>
                        </div>
    
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                          <label for="password"></label>
                          <input type="password"
                          class="form-control <%= (typeof errors != 'undefined' && errors.password)?"is-invalid": ""  %>"
                          id="password"  placeholder="Contraseña" name="password"/>
                          <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>
                          <div id="errorPassword"></div>
                        </div>
  
                        <div class="form-group col-12 col-md-6">
                          <label for="password2"></label>
                          <input type="password"
                          class="form-control <%= (typeof errors != 'undefined' && errors.password2)?"is-invalid": ""  %>"
                          id="password2" placeholder="Reingresar Contraseña" name="password2"/>
                          <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password2)?errors.password2.msg: "" %> </small>
  
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                          <label for="email"></label>
                          <input type="email"
                          name="email" id="email" class="form-control <%= (typeof old != 'undefined' && old.email && !errors.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>"
                          value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="Email" />
                          <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
                          <div id="errorEmail"></div>
                        </div>
  
                        <div class="form-group col-12 col-md-6">
                          <div class="custom-file mt-4">
                            <input type="file" id="file" name="avatar" accept="image/png, image/jpg, image/jpeg, image/gif">
                            <label for="customFileLang">Seleccionar Archivo</label>
                            <small class="text-danger"><%= (typeof errorFormato != 'undefined')?errorFormato: "" %> </small>
                            <div id="errorFile"></div>
                          </div>
                        </div>
  
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-md-6 mt-2">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input <%= (typeof old != 'undefined' && old.bases)?"is-valid":(typeof errors != 'undefined' && errors.bases)?"is-invalid": ""  %>" id="customCheck1" name="bases" required>
                            <label class="custom-control-label" for="customCheck1">acepto las bases y condiciones</label><br>
                            <a href="" class="text-info">ver bases y condiciones</a><br>
                          
                            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.bases)?errors.bases.msg: "" %> </small>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 mt-2">
                            <button type="submit" class="btn btn-primary">
                              Registrarse
                            </button>
                            <label for="">¿Ya tenés una cuenta?</label>
                            <a href="/users/login">Iniciar Sesión</a>

                        </div>
                    </div>
                
                
                </form>
            </div>

        </div>

    </div>
    <%- include("partials/footer") %> 
</body>

</html>