<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %> 

<body>

    <!--HEADER: CABECERA Y MENÚ DE NAVEGACIÓN-->

    <%- include("partials/header") %> 
    <%- include('partials/search') %>

    <!--SECCIONES: registrate-->

    <div id="fondoRegister">
      <img src="/images/backgroundLogin.png" alt="">
    </div>
    <div class="container">

        <div class="row productos">
            

            <div class="col-12 cont_form">

                <form class="formulario_register" action="" method="POST" enctype="multipart/form-data">

                    <div class="form-row">

                        <div class="form-group col-12 col-md-6">
                          <label for="name"></label>
                          <input type="text"
                          class="form-control <%= (typeof old != 'undefined' && old.name)?"is-valid":(typeof errors != 'undefined' && errors.name)?"is-invalid": ""  %>" 
                          id="name" name="name"  value="<%= (typeof old != 'undefined' && old.name)?old.name:'' %>" placeholder="Nombre (*)"/>
                          <small class="text-danger"><%= (typeof errors != 'undefined' && errors.name)?errors.name.msg: "" %> </small>
                          <div id="errorName"></div>
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="lastName"></label>
                            <input type="text"
                            class="form-control <%= (typeof old != 'undefined' && old.lastName)?"is-valid":(typeof errors != 'undefined' && errors.lastName)?"is-invalid": ""  %>"
                            id="lastName" value="<%= (typeof old != 'undefined' && old.lastName)?old.lastName:'' %>" placeholder="Apellido (*)" name="lastName"/>
                            <small class="text-danger"><%= (typeof errors != 'undefined' && errors.lastName)?errors.lastName.msg: "" %> </small>
                            <div id="errorLastName"></div>
                        </div>
    
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-md-6">
                          <label for="password"></label>
                          <input type="password"
                          class="form-control <%= (typeof errors != 'undefined' && errors.password)?"is-invalid": ""  %>"
                          id="password"  placeholder="Contraseña (*)" name="password"/>
                          <div id="errorPassword"><%= (typeof errors != 'undefined' && errors.password2)?errors.password2.msg: "" %></div>
                        </div>
  
                        <div class="form-group col-12 col-md-6">
                          <label for="password2"></label>
                          <input type="password"
                          class="form-control <%= (typeof errors != 'undefined' && errors.password2)?"is-invalid": ""  %>"
                          id="password2" placeholder="Reingresar Contraseña" name="password2"/>
  
                        </div>
                        
                    </div>
                    <div class="form-row">
                      <div class="form-group col-12 col-md-6">
                        <select name="provincias" id="provincias">
                          <option value="">Provincia</option>
                        </select>
                      </div>
                      <div class="form-group col-12 col-md-6">
                        <select name="municipios" id="municipios">
                          <option value="">Ciudad</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-12 col-md-6">
                        <div class="mt-4">
                          <input id="inputAvatar" type="file" id="avatar" name="avatar" accept="image/png, image/jpg, image/jpeg, image/gif" value="<%=(typeof old != 'undefined' && old.avatar)?old.avatar:'' %>">
                          <label for="avatar"></label>
                          <small class="text-danger"><%= (typeof errors != 'undefined' && errors.avatar)?errors.avatar.msg: "" %> </small>
                          <div id="errorFile"></div>
                        </div>
                        
                      </div>

                        <div class="form-group col-12 col-md-6">
                          <label for="email"></label>
                          <input type="email"
                          name="email" id="email" class="form-control <%= (typeof old != 'undefined' && old.email && !errors.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>"
                          value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="Email (*)" />
                          <div id="errorEmail"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %></div>
                        </div>
                      
                    </div>

                    <div class="form-row">
                      <div class="col-12 col-md-3" id="avatarPreview">
                        <img src="/images/users/default.png" alt="">
                      </div>
                      <div class="col-12 col-md-3 mt-2">
                        <div class="checkboxRegister custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input <%= (typeof old != 'undefined' && old.bases)?"is-valid":(typeof errors != 'undefined' && errors.bases)?"is-invalid": ""  %>" id="customCheck1" name="bases" required>
                          <label class="custom-control-label" for="customCheck1">acepto las bases y condiciones</label><br>
                          <a href="" class="text-info">ver bases y condiciones</a><br>
                          <small class="text-danger"><%= (typeof errors != 'undefined' && errors.bases)?errors.bases.msg: "" %> </small>
                        </div>
                      </div>
                      <div id="registerButton" class="col-12 col-md-6 mt-2">
                        <button type="submit" class="registerButton btn btn-primary">
                          Registrarse
                        </button>
                        <label for="">¿Ya tenés una cuenta?</label>
                        <a href="/users/login">Iniciar Sesión</a>
                    </div>
                    </div>

                
                
                </form>
            </div>

        </div>

    </div>
    <%- include("partials/footer") %> 
    <script src="/javascripts/registerValidator.js"></script>
</body>

</html>