<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 

<body>

    <%- include("partials/header") %> 
    <%- include('partials/search') %>

    
    <div class="container-fluid categorias">
        <div class="column col-4 col-lg-3 col-xl-2  filtro">
            <nav class="navbar-expand-md">
            
                <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                
                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                
                    <ul>


                        <h3 class="category">Categorías</h3>
                        <% categorias.forEach(categoria => { %>
                            <h4 class="category"><%= categoria.title %></h4>
                            <% subcategorias.forEach(subcategoria => { %>
                            <% if (categoria.title == subcategoria.category.title) { %>
                                    <li><a href="/products/<%= categoria.namePath%>/<%= subcategoria.name_path%> "><%= subcategoria.title %> </a></li>
                               
                            <% } %>
                            <% }) %>
                    
                        <% }) %>
                    </ul>
                    
                    <ul class="list-marks">
                        <h4>Marcas</h4>
                        
                        <% marks.forEach(mark => { %>

                            <% if (mark != '' && mark != 's/especificar' && mark != null) { %>
                             
                            <li class="mark">
                               <input class="check-mark" name="<%= mark %>" type="checkbox"/> <%= mark %>
                            </li>  
                            <% } %>  
                        <% }) %>
                        
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container col-8 col-lg-9 col-xl-10">

            
            <section>
                
                
                <div class="productos">
    
                    <div class="subcategorias row col-12">
                        <% if (productos == "") { %>
                            <div class="contenidos">
                                <p class="sin-resultados">No se encontaron resultados...</p>
                            </div>

                        <% } %>
                         
                        <% productos.forEach(product => {%>
                        <div class="contenidos card" title="<%= product.mark %>">
    
                            <figure>
                                <a href="/products/detail/<%= product.id %>"><img src="/images/products/<%= product.image %> " alt=" "></a>
                            </figure>
    

                            <%if (product.name.length > 10) {%>
                                    
                                <p><a href="/products/detail/<%= product.id %>"><%= product.name.slice(0,50) + '...'%></a> </p>
                            <%}%>
                                

                                <h2> <%= (product.price -product.price * product.discount /100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h2>

                                <% if (product.discount!=0) { %>
                                    <span> <strike>$<%= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike><strong> // <%- product.discount %> % OFF</strong></span>
                                <% } %>
    
                            
                        </div>
                        <% }) %>
                    </div>
                </div>
                 
    
            </section>
    
            
    
        </div>
    </div>

    <%- include("partials/footer") %> 
    
    <script src="/javascripts/filter.js"></script>
</body>

</html>