<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 

<body>

    <%- include("partials/header") %> 

    
    <div class="container-fluid categorias">
        <div class="column col-12 col-md-2 col-lg-2  filtro">
            <nav class="navbar-expand-md">
            
                <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                
                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                
                    <ul>

                        <h4><%= category.title %></h4>
                        
                        <% category.subcategories.forEach(subcategory => { %>
                            <li><a href="/products/<%= category.namePath%>/<%= subcategory.name_path%> "><%= subcategory.title %> </a></li>
                        <% }) %>

                    </ul>
                    
                    <ul>
                        <h4>Marcas</h4>
                        
                        <% marks.forEach(mark => { %>

                            <form >
                               <a> <input type="checkbox"/><%= mark %> </a>

                            <!--<li><a href="#"><%= mark %> </a></li>-->
                            </form>

                        <% }) %>
                        

                    </ul>
                </div>
            </nav>
        </div>
        <div class="container col-10">

            
            <section>
                
                
                <div class="productos">
    
                    <div class="subcategorias row col-12">
                        <% products.forEach(product => {%>
                        <div class="contenidos">
    
                            <figure>
                                <a href="/products/detail/<%= product.id %>"><img src="/images/products/<%= product.image %> " alt=" "></a>
                            </figure>
    
                            <article>

                                <p><a href="/products/detail/<%= product.id %>"><%= product.name %></a> </p>

                                <h2> <%= (product.price -product.price * product.discount /100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h2>

                                <% if (product.discount!=0) { %>
                                    <span> <strike>$<%= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike><strong> // <%- product.discount %> % OFF</strong></span>
                                <% } %>

                            </article>
    
                            
                        </div>
                        <% }) %>
                    </div>
                </div>
                 
    
            </section>
    
            
    
        </div>
    </div>

    <%- include("partials/footer") %> 


    
</body>

</html>