<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head') %> 

<body>

    <%- include("partials/header") %> 

    
    <div class="container-fluid categorias">
        <div class="column col-12 col-md-2 col-lg-2  filtro">
            <nav class="navbar-expand-md">
            
                <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                
                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                
                    <ul>
                        
                            <% subcategorias.forEach(subcategoria => {  %>
                            <li><a href=""><%= subcategoria.title %> </a></li>
                            <% }) %>
                    </ul>
                    
                    <ul>
                        <h4>Marcas</h4>

                    </ul>
                </div>
            </nav>
        </div>
        <div class="container col-10">

            
            <section>
                
                
                <div class="productos">
    
                    <div class="subcategorias row col-12">
                        <% productos.forEach(producto => {%>
                        <div class="contenidos">
    
                            <figure>
                                <a href=""><img src="/images/products/<%= producto.image %> " alt=" "></a>
                            </figure>
    
                            <article>

                                <p><a href="/products/detail/<%= producto.id %>"><%= producto.name %></a> </p>

                                <h2> <%= (producto.price -producto.price * producto.discount /100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></h2>

                                <% if (producto.discount!=0) { %>
                                    <span> <strike>$<%= producto.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike><strong> // <%- producto.discount %> % OFF</strong></span>
                                <% } %>

                            </article>
    
                            
                        </div>
                        <% }) %>
                    </div>
                </div>
                 
    
            </section>
    
            
    
        </div>
    </div>

    <%- include("partials/footer") %> 


    
</body>

</html>