<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <div id="passwordFondo">
        <img src="/images/backgroundLogin.png" alt="">
      </div>

    <div id="contenedorPassword">
        <img src="/images/users/<%= user.avatar %>" alt="">
        <div id="cuadroPassword">

            <form action="/users/updatepassword/<%= user.id %> ?_method=PUT" method="POST">

                <div><h4>Cambiar contrase単a</h4></div>

                <div class="inputPasswordActual">
                    <input class="" type="password" id="passwordActual" name="passwordActual" placeholder="Contrase単a actual"><br>
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.passwordActual)?errors.passwordActual.msg: "" %> </small>
                </div>
                
                <div class="inputPasswordNueva">
                    <input class="" type="password" id="password" name="password" placeholder="Contrase単a nueva"><br>
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %> </small>
                </div>
                
                <div class="inputPasswordRepetir">
                    <input class="" type="password" id="password2" name="password2" placeholder="Repetir contrase単a nueva"><br>
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password2)?errors.password2.msg: "" %> </small>
                </div>
                
                <div class="botonPassword">
                    <button type="submit">Enviar</button>
                </div>
                
            </form>

        </div>
    </div>
    

    <%- include('partials/footer') %>
</body>
</html>